*.o
*.lo
*.d
*.def
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.pc
*.pdb
*.swp
*.ver
*-example
*-test
*_g
.deps/
.libs/
3rdparty/ffmpeg/.config
3rdparty/ffmpeg/.version
3rdparty/ffmpeg/ffmpeg
3rdparty/ffmpeg/ffplay
3rdparty/ffmpeg/ffprobe
3rdparty/ffmpeg/ffserver
3rdparty/ffmpeg/config.*
3rdparty/ffmpeg/coverage.info
3rdparty/ffmpeg/doc/*.1
3rdparty/ffmpeg/doc/*.3
3rdparty/ffmpeg/doc/*.html
3rdparty/ffmpeg/doc/*.pod
3rdparty/ffmpeg/doc/config.texi
3rdparty/ffmpeg/doc/avoptions_codec.texi
3rdparty/ffmpeg/doc/avoptions_format.texi
3rdparty/ffmpeg/doc/doxy/html/
3rdparty/ffmpeg/doc/examples/avio_reading
3rdparty/ffmpeg/doc/examples/decoding_encoding
3rdparty/ffmpeg/doc/examples/demuxing_decoding
3rdparty/ffmpeg/doc/examples/extract_mvs
3rdparty/ffmpeg/doc/examples/filter_audio
3rdparty/ffmpeg/doc/examples/filtering_audio
3rdparty/ffmpeg/doc/examples/filtering_video
3rdparty/ffmpeg/doc/examples/metadata
3rdparty/ffmpeg/doc/examples/muxing
3rdparty/ffmpeg/doc/examples/pc-uninstalled
3rdparty/ffmpeg/doc/examples/remuxing
3rdparty/ffmpeg/doc/examples/resampling_audio
3rdparty/ffmpeg/doc/examples/scaling_video
3rdparty/ffmpeg/doc/examples/transcode_aac
3rdparty/ffmpeg/doc/examples/transcoding
3rdparty/ffmpeg/doc/fate.txt
3rdparty/ffmpeg/doc/print_options
3rdparty/ffmpeg/lcov/
3rdparty/ffmpeg/libavcodec/*_tablegen
3rdparty/ffmpeg/libavcodec/*_tables.c
3rdparty/ffmpeg/libavcodec/*_tables.h
3rdparty/ffmpeg/libavutil/avconfig.h
3rdparty/ffmpeg/libavutil/ffversion.h
3rdparty/ffmpeg/tests/audiogen
3rdparty/ffmpeg/tests/base64
3rdparty/ffmpeg/tests/data/
3rdparty/ffmpeg/tests/pixfmts.mak
3rdparty/ffmpeg/tests/rotozoom
3rdparty/ffmpeg/tests/test_copy.ffmeta
3rdparty/ffmpeg/tests/tiny_psnr
3rdparty/ffmpeg/tests/tiny_ssim
3rdparty/ffmpeg/tests/videogen
3rdparty/ffmpeg/tests/vsynth1/
3rdparty/ffmpeg/tools/aviocat
3rdparty/ffmpeg/tools/ffbisect
3rdparty/ffmpeg/tools/bisect.need
3rdparty/ffmpeg/tools/crypto_bench
3rdparty/ffmpeg/tools/cws2fws
3rdparty/ffmpeg/tools/fourcc2pixfmt
3rdparty/ffmpeg/tools/ffescape
3rdparty/ffmpeg/tools/ffeval
3rdparty/ffmpeg/tools/ffhash
3rdparty/ffmpeg/tools/graph2dot
3rdparty/ffmpeg/tools/ismindex
3rdparty/ffmpeg/tools/pktdumper
3rdparty/ffmpeg/tools/probetest
3rdparty/ffmpeg/tools/qt-faststart
3rdparty/ffmpeg/tools/trasher
3rdparty/ffmpeg/tools/seek_print
3rdparty/ffmpeg/tools/uncoded_frame
3rdparty/ffmpeg/tools/zmqsend

3rdparty/jansson/Makefile
3rdparty/jansson/config.h
3rdparty/jansson/config.log
3rdparty/jansson/config.status
3rdparty/jansson/doc/Makefile
3rdparty/jansson/libtool
3rdparty/jansson/src/Makefile
3rdparty/jansson/src/jansson_config.h
3rdparty/jansson/src/libjansson.la
3rdparty/jansson/stamp-h1
3rdparty/jansson/test/Makefile
3rdparty/jansson/test/bin/Makefile
3rdparty/jansson/test/suites/Makefile
3rdparty/jansson/test/suites/api/Makefile

.svn/
tags
*.log
